* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Oswald", serif;
  h2 {
    font-size: 2.5rem;
  }
  nav {
    width: 50%;
    height: 100%;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000000;
    transition: 0.7ms all;
    padding: 15px 40px;
  }
  a:hover {
    outline: 1px solid #000000;
  }
}

main {
  .container_summary {
    height: 39.625rem;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", serif;
    color: #ffffff;

    div {
      height: 100%;
      display: flex;
      padding-left: 150px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: 2rem;
        font-weight: 300;
      }
      button {
        width: 15.688rem;
        height: 3.688rem;
        margin-top: 15px;
        background-color: #0016df;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.25rem;
        border: none;
        cursor: pointer;
      }
    }
  }
  .container_integrated_port_management {
    height: 100vh;
    display: flex;
    padding: 150px;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      span {
        font-family: "Oswald", serif;
        font-size: 1.5rem;
        font-weight: 500;
        color: #0017e9;
      }
      h3 {
        width: 29.625rem;
        font-family: "Roboto", serif;
        font-size: 2.5rem;
        line-height: 42.19px;
      }
      p {
        width: 29.625rem;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: "Roboto", serif;
        line-height: 28.13px;
      }
      a {
        font-family: "Roboto", serif;
        font-size: 1.5rem;
        line-height: 28.13px;
        text-decoration: none;
        color: #0017e9;
      }
    }
  }

  .container_soluctions {
    background-color: #d8d8d8;
    font-family: "Oswald", serif;
    height: 64rem;
    padding: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      height: 7rem;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1.5rem;
        line-height: 35.57px;
        font-weight: 500;
        text-transform: uppercase;
        color: #0017e9;
      }
      span {
        font-size: 1.5rem;
        line-height: 35.57px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 20px;
      }
    }
    .cards {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .card {
        background-color: white;
        box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1);
        width: 22.938rem;
        height: 30.25rem;
        text-align: start;

        figcaption {
          padding: 15px;

          h4 {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 35.57px;
            margin-bottom: 30px;
          }
          p {
            font-size: 1.5rem;
            font-weight: 200;
          }
        }
      }
    }
  }
  .container_services {
    height: 64rem;
    font-family: "Oswald", serif;
    text-transform: uppercase;
    padding: 100px;
    .customer_service_and_sales {
      width: 50%;
      height: 10;
      background-color: aqua;
      h2 {
        color: rgba(0, 23, 233, 1);
        font-size: 2rem;
      }
      span {
        font-size: 1.5rem;
      }
      div {
        display: flex;
        background-color: brown;
        figcaption {
          color: rgba(0, 0, 0, 1);
          font-weight: 500;
        }
      }
    }
  }
}
