* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Oswald", serif;
}
header h2 {
  font-size: 2.5rem;
}
header nav {
  width: 50%;
  height: 100%;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  list-style: none;
}
header a {
  text-decoration: none;
  color: #000000;
  transition: 0.7ms all;
  padding: 15px 40px;
}
header a:hover {
  outline: 1px solid #000000;
}

main .container_summary {
  height: 39.625rem;
  background-image: url(assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Oswald", serif;
  color: #ffffff;
}
main .container_summary div {
  height: 100%;
  display: flex;
  padding-left: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main .container_summary div h1 {
  font-size: 6rem;
}
main .container_summary div p {
  font-size: 2rem;
  font-weight: 300;
}
main .container_summary div button {
  width: 15.688rem;
  height: 3.688rem;
  margin-top: 15px;
  background-color: #0016df;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}
main .container_integrated_port_management {
  height: 100vh;
  display: flex;
  padding: 150px;
  justify-content: space-around;
}
main .container_integrated_port_management div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .container_integrated_port_management div span {
  font-family: "Oswald", serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0017e9;
}
main .container_integrated_port_management div h3 {
  width: 29.625rem;
  font-family: "Roboto", serif;
  font-size: 2.5rem;
  line-height: 42.19px;
}
main .container_integrated_port_management div p {
  width: 29.625rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", serif;
  line-height: 28.13px;
}
main .container_integrated_port_management div a {
  font-family: "Roboto", serif;
  font-size: 1.5rem;
  line-height: 28.13px;
  text-decoration: none;
  color: #0017e9;
}
main .container_soluctions {
  background-color: #d8d8d8;
  font-family: "Oswald", serif;
  height: 64rem;
  padding: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container_soluctions div {
  height: 7rem;
  display: flex;
  flex-direction: column;
}
main .container_soluctions div h3 {
  font-size: 1.5rem;
  line-height: 35.57px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0017e9;
}
main .container_soluctions div span {
  font-size: 1.5rem;
  line-height: 35.57px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}
main .container_soluctions .cards {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .container_soluctions .cards .card {
  background-color: white;
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1);
  width: 22.938rem;
  height: 30.25rem;
  text-align: start;
}
main .container_soluctions .cards .card figcaption {
  padding: 15px;
}
main .container_soluctions .cards .card figcaption h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 35.57px;
  margin-bottom: 30px;
}
main .container_soluctions .cards .card figcaption p {
  font-size: 1.5rem;
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */